Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

.idea

*.pidb.meta

sysinfo.txt

*.apk
*.unitypackage
Swalk/Assets/Plugins/Editor.meta
Swalk/Assets/Plugins/Editor/JetBrains.meta
Swalk/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Swalk/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
